{{ define "head" }}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Web Template</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Web Template" />
        <meta name="author" content="Gurunandan Bhat" />
        <!-- Favicons -->
        <link
            rel="icon"
            type="image/x-icon"
            href="/assets/images/icons/favicon.png" />
        <link
            rel="icon"
            type="image/png"
            href="/assets/images/icons/favicon-96x96.png"
            sizes="96x96" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/assets/images/icons/favicon.svg" />
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/images/icons/apple-touch-icon.png" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/assets/css/bootstrap.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/css/index.css" />
    </head>
{{ end }}
